#field {
  display: grid;
  margin-top: 1vw;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1vw;
  grid-auto-rows: 17vw;
  user-select: none;
}
#temp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1vw;
  margin-top: 1vw;
  user-select: none;
}
.box {
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  color: rgb(1, 59, 146);
  font-size: 4vw;
}
